<link rel="stylesheet" href="/css/detailsProducts.css">

<%- include('../views/templates/header.ejs'); %>

        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <% if(product.image=="https://place-hold.it/150"){%>
                        <img src="https://place-hold.it/150" alt=""  class="card-img-top mb-5 mb-md-0"/>
                        <%}else{%>  
                            <img src="/upload/<%- product.image %>" alt="" class="card-img-top mb-5 mb-md-0"/>   
                        
                            <%} product.name %> </div>
                    <div class="col-md-6">
                        <div class="small mb-1"> <%- product._id %> </div>
                        <h1 class="display-5 fw-bolder"><%- product.name %></h1>
                        <div class="fs-5 mb-5">
                            <span><%- product.price %>€</span>
                        </div>
                        <p class="lead"><%- product.description %></p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>       
    </body>
</html>
